.PageHeading {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-shrink: 0;
  height: 74%;
  margin-bottom: 10%;
  color: var(--white);
  justify-content: center;
}

.PageHeading > h1 {
  font-size: 62px;
  line-height: 72px;
  flex-shrink: 0;
  margin-bottom: .5rem;;
}

.PageHeading > p {
  width: 349px;
  height: 64px;
  overflow: hidden;
}



@media all and (max-width: 768px) {

  .PageHeading > h1 {
    font-size: 42px;
    line-height: 36.5px;
  }

}