
/* Utils */

:root {
    --black: #000;
    --white: #fff;
    --primary: #5863F8;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.m-auto {
    margin: auto;
}

.font-white, .color-white, .text-white {
    color: var(--white);
}

.border-black {
    border-color: 1px solid black;
}

.color-primary,
.font-primary,
.text-primary {
    color: var(--primary);
}

.color-muted {
    color: #B1B1B1;
}

.font-black, .color-black, .text-black {
    color: var(--black);
}

.font-normal {
    font-size: 14px;
    line-height: 21px;
}

.font-medium, .text-medium {
    font-size: 18px;
    line-height: 27px;
}

.font-weight-600 {
    font-weight: 600;
}

.font-style-normal {
    font-style: normal;
    font-variant: normal;
}

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-center {
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}


.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.4);
}

.border-white {
    border: 1px solid #fff;
}


/* Main Style */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 1152px;
}


body, a {
    color: var(--white);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap; */
}

.section {
    width: 100%;
    height: 662px;
    flex-shrink: 1;
}

.section-content {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
};

.banner {
    display: flex;
    background-image: url('img/banner.png');
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
}

.banner > .navbar {
    margin-top: 20px;
}

.navbar > .link {
    text-transform: uppercase;
    margin: 0 20px;
    /* font: normal normal medium 12px/18px 'Poppins'; */
    font-size: 12px;
    line-height: 18px;
    font-weight: medium;
}

.navbar .brand-link {
    margin-right: auto;
    align-self: left;
}

.header {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0;
}

.header > h1 {
    font-size: 62px;
    line-height: 73px;
    flex-shrink: 0;
}

.header > p {
    width: 349px;
    height: 64px;
    overflow: hidden;
}



.about-section > .section-content {
    height: 100%;
    color: var(--black);
}

.about-section .section-content  div {
    width: 100%;
}

.section-title,
.section-heading, 
.section-subheading {
    margin: 10px 0;
}

.section-heading {
    font-size: 42px;
    line-height: 56px;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

.section-subheading {
    font-size: 16px;
    font-weight: bolder;
    height: 76px;
    overflow: hidden;
    font-family: 'Poppins', 'Medium';
}

.section-content-wrapper {
    width: 444px !important;
    height: fit-content;
}

button {
    cursor: pointer;
}

.button-primary {
    outline: none;
    border: none;
    background: var(--primary);
    color: var(--white);
    padding: 15px 42px;
}



.about-section1  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid black; */
}


.about-section2 {
    background-image: url('img/about2.png');
}

.carousel {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px !important;
    height: 260px;
    background-color: var(--white);
    box-sizing: content-box;
}

.carousel-card .icon-wrapper {
    width: 59px !important;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.carousel-card .description {
    padding: 0 20px;
    height: 62px;
    overflow: hidden;
}

.carousel-control {
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    line-height: 60px;
    text-align: center !important;
    justify-content: center;

}

.carousel-control.control-left {
    right: 100%;
    top: 39%;
    opacity: 0.3;
}

.carousel-control.control-right { 
    right: -5%;
    top: 39%;
}


/* Media Queries */

@media all and (max-width: 768px) {
    .about-section2 {
      height: fit-content;
    }

    .carousel {
        width: 100%;
        height: 540px;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }

    .carousel-card {
      margin-bottom: 10px;
    }

    .banner {
        display: flex;
        background-image: url('img/banner.png');
        align-items: center;
    }

    .section {
        border: 1px solid black;
    }

    .section-content {
        width: 100% !important;
        height: fit-content;
    }

    .banner {
        width: 100%;
    }

    .header > h1 {
        font-size: 42px;
        line-height: 36.5px;
    }


    .about-section1 .section-content > div {
        width: 89%;
        margin: auto;
        padding-bottom: 10px;
        height: fit-content;
    }

    /* .about-section1 .left .section-content-wrapper  {
        width: 100% !important;
    } */

    .about-section1 .section-content-wrapper  img {
        width: 100%;
    }



    .about-section div {
        /* padding: 20px; */
    }
}


@media all and (min-width: 768.99px) {
    .banner {
        background-image: url('img/banner@2x.png');
    }

    .about-section1 .section-content > div {
        width: 50%;
    }

    .section {
        /* padding: 0 384px; */
        padding: 10px;
        margin: auto;
    }
}
